@font-face {
  font-family: 'icomoon';
  src: url('assets/icomoon.eot?jhvemg');
  src: url('assets/icomoon.eot?jhvemg#iefix') format('embedded-opentype'), url('assets/icomoon.ttf?jhvemg') format('truetype'), url('assets/icomoon.woff?jhvemg') format('woff'), url('assets/icomoon.svg?jhvemg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-caret-down:before {
  content: "\f0d7";
}

.icon-world:before {
  content: "\e900";
}

.icon-arrow-forward-outline:before {
  content: "\e901";
}

.icon-message:before {
  content: "\e902";
}

.icon-image-outline:before {
  content: "\e903";
}

.icon-camera-outline:before {
  content: "\e904";
}

.icon-thumbs-up:before {
  content: "\e905";
}

.icon-forward:before {
  content: "\e969";
}

body {
  background: #e7e8eb;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  min-height: 100vh;
  padding: 0;
  width: 100vw;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
.feed {
  margin: 10px auto;
  width: 500px;
  border-radius: 3px;
  border: 1px solid #dddfe2;
  overflow: hidden;
}
.post {
  background: #fff;
  border-bottom: 1px solid #dddfe2;
  padding: 12px;
}

.post__header {
  display: flex;
  flex-wrap: wrap;
}

.header__poster-picture {
  width: 10%;
}

.header__poster-picture img {
  border-radius: 50%;
  width: 40px;
}

.header__post-info {
  align-content: space-around;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 40px;
  width: 90%;
}

.header__poster-name {
  color: #365899;
  font-size: 14px;
  font-weight: 600;
  height: 50%;
  line-height: 1.38;
  width: 100%;
}

.header__post-comment {
  color: #1d2129;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.38;
  width: 100%;
}

.header__post-date {
  color: #616770;
  font-size: 12px;
  height: 50%
}

.link-preview {
  border: 1px solid #dddfe2;
  box-shadow: 0 0 3px #dddfe2;
  color: #1d2129;
  display: flex;
  flex-direction: column;
}

.link-preview__hero-img {
  width: 100%
}

.link-preview__information {
  padding: 12px;
}

.link-preview__title {
  font-family: 'Times New Roman', serif;
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.link-preview__description {
  font-size: 13px;
  line-height: 1.38;
  margin: 6px 0;
}

.link-preview__link-CTA {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 6px;
}

.link-preview__link {
  color: #616770;
  font-size: 12px;
  line-height: 1.4;
  text-transform: uppercase;
}

.link-preview__CTA {
  background: #eff1f3;
  border: 1px solid #bec2c9;
  color: #4b4f56;
  font-size: 12px;
  font-weight: bold;
  line-height: 26px;
  padding: 0 10px;
}

.body__social-actions {
  align-items: baseline;
  display: flex;
  margin-bottom: -6px;
  margin-top: 6px;
}

.social-actions__action {
  align-items: flex-start;
  color: #616770;
  display: flex;
  font-size: 13px;
  font-weight: bold;
  height: 32px;
  justify-content: center;
  line-height: 32px;
  text-align: center;
  width: 30%;
}

.social-actions__action i {
  font-size: 24px;
  font-weight: normal;
  margin-right: 3px;
  margin-top: 3px;
}

.social-actions__account {
  align-items: center;
  color: #616770;
  display: flex;
  justify-content: center;
  width: 10%;
}

.social-actions__account img {
  height: 20px;
}
.interactions{
  padding: 12px;
  background: #f2f3f5;
  
}
.interactions__reactions{
  color: #365899;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  padding: 0 0 10px;
  line-height: 16px;
  border-bottom: 1px solid #dddfe2;
}
.reactions__emojis{
  display: flex;
}
.emoji {
  border-radius: 50%;
  background: white;
  border: 1px solid white;
  width: 16px;
  height: 16px;
  margin-right: -4px;
}
.emoji--like{
  background: #4980fe;
  z-index: 2;
}
.emoji--heart{
  background: #ef5268;
  z-index: 1;
}
.emoji--surprised{
  background: #f7d872;
  z-index: 0;
  margin-right: 10px;
}
.reactions__sorting i{
  padding-left: 4px;
}
.interactions__shares{
  color: #365899;
  font-size: 12px;
  line-height: 16px;
  margin-top: 10px;
}
.add-comment{
  margin: 10px 0;
  display: flex;
}
.add-comment__user-picture{
  margin-right: 10px;
}
.add-comment__user-picture img{
  width: 32px;
  height: 32px;
  border: 1px solid #dddfe2;
  border-radius: 50%;
}
.add-comment__input,.add-comment__input input{
  width: 100%;
  display: block;
  height: 32px;
  position: relative;
}
.add-comment__input input{
  line-height: 32px;
  border-radius: 16px;
  border: 1px solid #dddfe2;
  padding: 0 10px;
  font-size: 12px;
}
.comment-extras{
  position: absolute;
  right: 10px;
  color: #757578;
  font-size: 20px;
  top: 6px;
}
.add-comment__advice{
  font-size: 10px;
  color: #757578;
  margin-top: 3px;
}
.interaction-comment{
  margin: 30px 0 0;
  display: flex;
}
.comment__user-picture{
  margin-right: 10px;
}
.comment__user-picture img{
  width: 32px;
  height: 32px;
  border: 1px solid #dddfe2;
  border-radius: 50%;
}
.text{
  background: white;
  width: 95%;
  border-radius: 16px;
  padding: 10px;
  font-size: 12px;
  line-height: 15px;
  margin: 0
}
.text__user-name{
  color: #365899;
  font-weight: bold;
  display: inline-block;
  margin-right: 3px;
}
.comment__actions{
  padding: 6px 10px;
  color: #365899;
  font-size: 12px;
}
.time{
  color: #757578;
}
.comment__replies{
  margin-top: 10px;
  color: #365899;
  padding: 0 10px;
  font-size: 12px;
}
.comment__replies i {
  margin-right: 10px;
}